{% extends "hours/base.html" %}
{% load static %}
{% block content %}
<main class="container">
  <button type="button" id="call"> Start Work </button>


  <label id="hour">00</label>:<label id="minutes">00</label>:<label id="seconds">00</label>

<button type="button" id="halt"> Stop Work </button>

<button type="button" id="pau"> Pause Work </button>

  </div>
      {% for time in test %}
        <div class="col-md-4">
          <div class="content-section">
            <h3>Total Hours </h3>
            <p class='text-muted'> Total amount of work time

              <ul class="list-group">
                <li class="list-group-item list-group-item-light">{{ time.hours }}</li>
                <li class="list-group-item list-group-item-light">{{ time.minutes }}</li>
                <li class="list-group-item list-group-item-light">{{ time.days_work }}</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
</main>
<script src="{% static 'hours/workhours.js' %}"></script>

{% endblock content %}
