{% extends "hours/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main class="container">

<div class="content-section">
 <form method="POST">
            {% csrf_token %}

 <fieldset class="form-group">
     <legend class="border-bottom mb-4">Work Hours</legend>
                {{ form|crispy }}

    </fieldset>

    <div class="form-group">
        <button id='myBtn' class="btn btn-outline-info" type="submit" name="empezar"> Start Work </button>
         <button class="btn btn-outline-info" type="submit" name="parar" disabled> Stop Work </button>

        </fieldset>
 </form>
    </div>
    </div>


  <button type="button" id="call"> Start Work </button>

  <button type="button" id="pau"> Pause Work </button>

  <button type="button" id="halt"> Stop Work </button>
  <label id="hour">00</label>:<label id="minutes">00</label>:<label id="seconds">00</label>
 </main>
<script src="{% static 'hours/workhours.js' %}"></script>

{% endblock content %}
