{% extends "hours/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->


    </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Total Hours </h3>
            <p class='text-muted'> Total amount of work time
              {% for t in test %}
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">{{ user.profile.t.hours }}</li>

                <li class="list-group-item list-group-item-light">{{ user.profile.t.minutes }}</li>
                <li class="list-group-item list-group-item-light">{{ user.profile.t.days_work }}</li>
              </ul>
            </p>
          </div>
        </div>
      </div>

{% endfor %}
{% endblock content %}
